<a href="https://colab.research.google.com/github/tmw622/Mingwei_INFO2020_Spring2020/blob/master/lesson05/codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
celebs=(("Brad",1963),("Jack",1937),("Justin",1984))
print(celebs)
print(len(celebs))

for name,year in celebs:
  print(name)
  print(year)
  if year<1980:
    print(name)

(('Brad', 1963), ('Jack', 1937), ('Justin', 1984))
3
Brad
1963
Brad
Jack
1937
Jack
Justin
1984

In [8]:
julia=("Julia","Roberts",1967,"Duplicity",2009)
print(julia[1])

bob=("Bob",19,"CS")
(name,age,stuides)=bob
print(age)
print(stuides)

Roberts
19
CS

In [9]:
a=13
b=15
(a,b)=(b,a)
print(a)

15

In [12]:
import math
def circle_stats(r):
  circumference=2*math.pi*r
  area=math.pi*r**2
  return (circumference,area)

print(circle_stats(6.1))

(38.32743037379547, 116.89866264007618)

In [14]:
students=(
    ("John",("CompSci","Physics")),
    ("Vusi",("Math","CompSci","Stats"))
)

print(students[1])
print(students[1][1])
print(students[1][1][1])

('Vusi', ('Math', 'CompSci', 'Stats'))
('Math', 'CompSci', 'Stats')
CompSci

In [16]:
student=("java","python")
student2=["java","python"]

#student[0]="C#"
student2[0]="C#"
print(student[0])
print(student2[0])

java
C#

In [17]:
firstlist=[1,2,3]
secondlist=[4,5,6]
print(firstlist+secondlist)

[1, 2, 3, 4, 5, 6]

In [18]:
print(firstlist*4)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [26]:
alist=["a","b","c","d","e","f"]
print(alist[1:7])
print(alist[:4])
print(alist[:])
del alist[1:3]
print(alist)

['b', 'c', 'd', 'e', 'f']
['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd', 'e', 'f']
['a', 'd', 'e', 'f']

In [30]:
a=[1,2,3]
#b=a
#b[0]=5
#print(a)
#a[1]=6
#print(b)

c=a[:]
print(a)
print(c)
c[0]=9
print(a)
print(c)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
[9, 2, 3]

In [34]:
friends=["joe","zoe","brad","angelina"]
print(list(enumerate(friends)))
for (i,val) in enumerate(friends):
  print(i,val)

[(0, 'joe'), (1, 'zoe'), (2, 'brad'), (3, 'angelina')]
0 joe
1 zoe
2 brad
3 angelina

In [43]:
mylist=[]
mylist.append(5)
mylist.append(27)
mylist.append(3)
mylist.append(12)
print(mylist)
mylist.insert(1,12)
print(mylist)
print(mylist.count(12))
print(mylist.index(12))

mylist.reverse()
print(mylist)
mylist.sort()
print(mylist)

mylist.remove(12)
print(mylist)

[5, 27, 3, 12]
[5, 12, 27, 3, 12]
2
1
[12, 3, 27, 12, 5]
[3, 5, 12, 12, 27]
[3, 5, 12, 27]

In [45]:
mx=[[1,2,3],[4,5,6],[7,8,9]]
print(mx[1])
print(mx[1][1])

[4, 5, 6]
5

In [56]:
english_spanish={}
english_spanish["one"]="uno"
english_spanish["two"]="dos"
print(english_spanish)
print(english_spanish["one"])

#del english_spanish["two"]
#print(english_spanish)

print(english_spanish.keys())
print(english_spanish.values())

print(english_spanish.items())

{'one': 'uno', 'two': 'dos'}
uno
dict_keys(['one', 'two'])
dict_values(['uno', 'dos'])
dict_items([('one', 'uno'), ('two', 'dos')])