<a href="https://colab.research.google.com/github/tmw622/Mingwei_INFO2020_Spring2020/blob/master/lesson10/answerofassginment10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1:**
create a tstudent table in MySQL database, the requirements are as follows.

    (1) the table should contain at least 6 columns, five of them must be  {stuid, stuname, major, stuyear, tuition}

    (2) use the correct data type to define your columns
    
    (3) export the database as  a .sql file.

you can download the sql file from the following link.
https://drive.google.com/file/d/1UJh0demUxP8WoSRlrbMBYojt5zg7Cg6J/view?usp=sharing

**Q2:**Given a sql file  “world.sql”, complete the following tasks. 

    (1) import the file into your MySQL Server.

    (2) write a function which could retrieval all the data from the table “country” in database ”world”

    (3)  write a function which could retrieval one record from the table “country” by a specific parameter which is related to the field “Name”

In [0]:
import pymysql


def getdata():
    db=pymysql.connect("localhost","root","python3020","world")
    cursor=db.cursor()
    sql="select * from country"
    cursor.execute(sql)
    data=cursor.fetchall()
    cursor.close()
    db.close()
    return data

def getdatabyname(name):
    db=pymysql.connect("localhost","root","python3020","world")
    cursor=db.cursor()
    sql="select * from country where Name='"+name+"'"
    cursor.execute(sql)
    data=cursor.fetchall()
    cursor.close()
    db.close()
    return data

def printdata(data):
    print("Code \t Name \t Contnent \t\t Region")
    print("-------------------------------------------------")
    for row in data:
        print(str(row[0])+"\t\t"+row[1]+"\t"+row[2]+"\t\t"+str(row[3]))
        print("-------------------------------------------------")
    data=""

data=getdata()
printdata(data)
print("***************************************")
data=getdatabyname('China')
printdata(data)