<a href="https://colab.research.google.com/github/tmw622/Mingwei_INFO2020_Spring2020/blob/master/lesson10/answerofassignment10-2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1:**for the student table we created in last assignment, write a function which can add a student into the table

    (1) the function accepts data in command line.

    (2) insert at least 10 students into the table.

    (3) the major must be “data science”, “information science”, ”computer science”
    
    (4) set at least 2 students in “data science”, 3 in “information science”,  5 in “computer science”

In [0]:
def addstu():
    db = pymysql.connect("localhost", "root", "python3020", "pydb")
    dbcursor = db.cursor()
    stuname=input("please input a studentname:")
    stumajor=input("please input his/her major:")
    stuyear=int(input("please input his/her year:"))
    tuition=float(input("please input his/her tuition:"))
    memo=input("please input his/her description:")

    sql="insert into tstudent(stuname,major,stuyear,tuition,memo) values(%s,%s,%s,%s,%s)"
    values=(stuname,stumajor,stuyear,tuition,memo)
    dbcursor.execute(sql,values)
    db.commit()
    dbcursor.close()
    db.close()
addstu()

**Q2:**write a function which can delete a student by stuid (in command line)

In [0]:
def delstu():
    db = pymysql.connect("localhost", "root", "python3020", "pydb")
    dbcursor = db.cursor()
    stuid=int(input("please input the studentid you want to delete:"))
    sql="delete from tstudent where stuid=%s"
    dbcursor.execute(sql,stuid)
    db.commit()
    dbcursor.close()
    db.close()
delstu()

**Q3:**write a function which can modify a student’s name (in command line)

In [0]:
def editstu():
    db = pymysql.connect("localhost", "root", "python3020", "pydb")
    dbcursor = db.cursor()
    stuid = int(input("please input the student id you want to modify:"))
    stuname=input("please input a studentname:")
    stumajor=input("please input his/her major:")
    stuyear=int(input("please input his/her year:"))
    tuition=float(input("please input his/her tuition:"))
    memo=input("please input his/her description:")

    sql="update tstudent set stuname=%s,major=%s,stuyear=%s,tuition=%s,memo=%s where stuid=%s"
    values=(stuname,stumajor,stuyear,tuition,memo,stuid)
    dbcursor.execute(sql,values)
    db.commit()
    dbcursor.close()
    db.close()
editstu()

**Q4:**write a function which can get the total count of students in one specific major(in command line)

In [0]:
def countstu():
    db = pymysql.connect("localhost", "root", "python3020", "pydb")
    dbcursor = db.cursor()
    stumajor=input("please input a major you want to count:")


    sql="select count(*) as totalstudent from tstudent group by major having major=%s"
    dbcursor.execute(sql,stumajor)
    result=dbcursor.fetchone()
    print("there are "+str(result[0])+"  students in major of "+stumajor)
    dbcursor.close()
    db.close()
countstu()

**Q5:**write a function which can get one student’s id and name randomly(in command line)

In [0]:
def  getsturandomly():
    db = pymysql.connect("localhost", "root", "python3020", "pydb")
    dbcursor = db.cursor()

    sql="select * from tstudent"
    stuidlist=[]
    dbcursor.execute(sql)
    results=dbcursor.fetchall()
    for result in results:
        stuidlist.append([result[0],result[1]])

    import random
    randomid=random.randint(0,len(stuidlist))
    print(stuidlist[randomid-1])
    dbcursor.close()
    db.close()
getsturandomly()