<a href="https://colab.research.google.com/github/tmw622/Mingwei_INFO2020_Spring2020/blob/master/lesson10/codes-part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1:Group Clause

In [0]:
import pymysql

db=pymysql.connect("localhost","root","python3020","pydb")
dbcursor=db.cursor()

sql="select tpyname,sum(tpynum) as counts from tpython group by tpyname having counts>5 order by counts desc "

dbcursor.execute(sql)
results=dbcursor.fetchall()
print("tpyname \t tcount")
print("-----------------------")
for row in results:
    print(row[0]+"\t"+str(row[1]))
    print("-----------------------")

dbcursor.close()
db.close()
results=""

2:User-Defined

In [0]:
import pymysql

db=pymysql.connect("localhost","root","python3020","pydb")
dbcursor=db.cursor()

sql="select * from tpython where tpyname=%s and tpynum=%s"

#values=input("please input the name you want to search:")
values=("test5",2)
dbcursor.execute(sql,values)
results=dbcursor.fetchall()

print("tpyid \t tpyname \t tpynum")
print("-----------------------")
for row in results:
    print(str(row[0])+"\t"+row[1]+"\t"+str(row[4]))
    print("-----------------------")

dbcursor.close()
db.close()
results=""

3:Limit Clause

In [0]:
import pymysql

db=pymysql.connect("localhost","root","python3020","pydb")
dbcursor=db.cursor()

sql="select * from tpython limit 3,5"

dbcursor.execute(sql)
results=dbcursor.fetchall()
print("tpyid \t tpyname")
print("-----------------------")
for row in results:
    print(str(row[0])+"\t"+row[1])
    print("-----------------------")

dbcursor.close()
db.close()
results=""

4:Pattern

In [0]:
import pymysql

db=pymysql.connect("localhost","root","python3020","pydb")
dbcursor=db.cursor()

sql="select * from tpython where tpymemo like %s"

values='c%'
dbcursor.execute(sql,values)
results=dbcursor.fetchall()

print("tpyid \t tpyname \t tpycontent")
print("-----------------------")
for row in results:
    print(str(row[0])+"\t"+row[1]+"\t"+row[2])
    print("-----------------------")

dbcursor.close()
db.close()
results=""

5:Simple Insertion

In [0]:
import pymysql

db=pymysql.connect("localhost","root","python3020","pydb")
dbcursor=db.cursor()

sql="insert into tpython(tpyname,tpymemo,tpydate,tpynum) values(%s,%s,%s,%s)"
values=("weather","have a sunny day","2020-04-06",5)

dbcursor.execute(sql,values)
db.commit()

dbcursor.close()
db.close()

6: Insert Duplicate

In [0]:
import pymysql

db=pymysql.connect("localhost","root","python3020","world")
dbcursor=db.cursor()

sql="insert into tcom(comid,comname,coutrycode) value(99,'singapore','sing') on duplicate key update comid=comid+1"

dbcursor.execute(sql)
db.commit()

dbcursor.close()
db.close()

7:Insert Validate

In [0]:
import pymysql

db=pymysql.connect("localhost","root","python3020","world")
dbcursor=db.cursor()

comid=input("please  input an id:")
comname=input("please  input a countryname:")
countrycode=input("please input a code correspoding to the country:")

sql="insert into tcom(comid,comname,coutrycode) value(%s,%s,%s)"
if not comid.isnumeric():
    print("the id you input is not a number")
    exit()
else:
    values=(comid,comname,countrycode)
    dbcursor.execute(sql,values)
    db.commit()
    dbcursor.close()
    db.close()

8： Update

In [0]:
import pymysql

db=pymysql.connect("localhost","root","python3020","pydb")
dbcursor=db.cursor()

sql="update tpython set tpyname=%s, tpydate=%s where tpyid=%s"
values=("School","2020-04-08",5)

dbcursor.execute(sql,values)
db.commit()

dbcursor.close()
db.close()

9：Delete

In [0]:
import pymysql

db=pymysql.connect("localhost","root","python3020","pydb")
dbcursor=db.cursor()

sql="delete from tpython where tpyid=%s"
values=int(input("please input an id you want to delete:"))

dbcursor.execute(sql,values)
db.commit()

dbcursor.close()
db.close()